about-time==4.2.1
aiodns==4.0.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiohttp_socks==0.11.0
aioresponses==0.7.8
aiosignal==1.4.0
alive-progress==3.3.0
anyio==4.13.0
arabic-reshaper==3.0.1
asgiref==3.11.1
asn1crypto==1.5.1
asttokens==3.0.1
async-timeout==5.0.1
attrs==26.1.0
beautifulsoup4==4.14.3
blinker==1.9.0
certifi==2026.1.4
cffi==2.0.0
chardet==7.4.3
charset-normalizer==3.4.7
click==8.3.3
click-plugins==1.1.1.2
cloudscraper==1.2.71
colorama==0.4.6
cryptography==47.0.0
cssselect2==0.9.0
curl_cffi==0.15.0
decorator==5.2.1
dnspython==2.8.0
executing==2.2.1
filelock==3.29.0
Flask==3.1.3
freetype-py==2.5.1
frozenlist==1.8.0
future==1.0.0
future-annotations==1.0.0
geographiclib==2.1
geopy==2.4.1
graphemeu==0.7.2
h11==0.16.0
h2==4.3.0
hpack==4.1.0
html5lib==1.1
httpcore==1.0.9
httpretty==1.1.4
httpx==0.28.1
hyperframe==6.1.0
idna==3.11
ipython==9.13.0
ipython_pygments_lexers==1.1.1
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.1.2
jaraco.functools==4.4.0
jedi==0.20.0
jeepney==0.9.0
Jinja2==3.1.6
jsonpickle==4.1.1
keyring==25.7.0
l9format==2.0.1
leakpy==2.2.6
lxml==6.1.0
maigret==0.6.0
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib-inline==0.2.1
mdurl==0.1.2
mock==5.2.0
more-itertools==11.0.2
multidict==6.7.1
networkx==2.8.8
oscrypto==1.3.0
OTXv2==1.5.12
outcome==1.3.0.post0
packaging==26.2
parso==0.8.7
pexpect==4.9.0
phonenumbers==9.0.29
pillow==12.1.0
platformdirs==4.9.6
prompt_toolkit==3.0.52
propcache==0.4.1
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
pycairo==1.29.0
pycares==5.0.1
pycountry==26.2.16
pycparser==3.0
Pygments==2.20.0
pyHanko==0.34.1
pyhanko-certvalidator==0.30.2
pyOpenSSL==26.2.0
pyparsing==3.3.2
pypdf==6.10.2
PyPDF2==3.0.1
PySocks==1.7.1
python-bidi==0.6.7
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-socks==2.8.1
python-Wappalyzer==0.3.1
python-whois==0.9.6
pytz==2026.2
pyvis==0.3.2
PyYAML==6.0.3
reportlab==4.5.0
requests==2.33.1
requests-file==3.0.1
requests-futures==1.0.2
requests-toolbelt==1.0.0
rich==15.0.0
rlPyCairo==0.4.0
SecretStorage==3.5.0
selenium==4.43.0
selenium-stealth==1.0.6
setuptools==82.0.1
shodan==1.31.0
six==1.17.0
sniffio==1.3.1
socid-extractor==0.0.28
socksio==1.0.0
sortedcontainers==2.4.0
soupsieve==2.8.3
stack-data==0.6.3
stem==1.8.2
svglib==1.6.0
tinycss2==1.5.1
tldextract==5.3.1
tokenize_rt==6.2.0
torrequest==0.1.0
toutatis @ file:///home/kali/toutatis
traitlets==5.14.3
trio==0.33.0
trio-websocket==0.12.2
typing_extensions==4.15.0
tzlocal==5.3.1
uritools==6.1.0
urllib3==2.6.3
user-scanner==1.3.6
wcwidth==0.6.0
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.9.0
Werkzeug==3.1.8
wsproto==1.3.2
xhtml2pdf==0.2.17
xlsxwriter==3.2.9
XMind==1.2.0
-e git+https://github.com/YOUR_USERNAME/xophy.git@c6cf03a9adb6463bfdd2bee953625d3e6272b7df#egg=xophy
yarl==1.23.0
